{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Ресторан</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Заказ</th>
      <th>Сумма заказа</th>
      <th>Ссылка на админку</th>
    </tr>
    {% for order_with_restaurants in orders_with_restaurants %}
      {% if order_with_restaurants.order.status != 'Completed' %}
        <tr>
          <td>{{ order_with_restaurants.order.id }}</td>
          <td>{{ order_with_restaurants.order.get_status_display }}</td>
          <td>{{ order_with_restaurants.order.get_payment_type_display }}</td>
          <td>{{ order_with_restaurants.order.first_name }} {{ order_with_restaurants.last_name }}</td>
          <td>{{ order_with_restaurants.order.phone_number }}</td>
          <td>
            {% if order_with_restaurants.order.restaurant %}
              <b>{{ order_with_restaurants.order.restaurant.name }}</b>
            {% elif order_with_restaurants.restaurants_with_distance %}
              <details>
                <summary><i> Выберите ресторан </i></summary>
              {{'Может приготовить: '}}
              {% for restaurant in order_with_restaurants.restaurants_with_distance %}              
                <p>
                  {{ ' >> ' }} {{ restaurant.name}} {{restaurant.distance_to_order}} км
                </p>                
              {% endfor %}
              </details>
            {% else %}
              {{ 'Невозможно собрать заказ' }}
            {% endif %}
          </td>
          <td>{{ order_with_restaurants.order.address }}</td>
          <td>{{ order_with_restaurants.order.comment }}</td>
          <td>
              {% for order_item in order_with_restaurants.order.order_list.all %}     
                    <img src="{{order_item.product.image.url}}" alt="{{order_item.product.name}}" height="20px">
                    {{ order_with_restaurants.order.order_item.product.name }}
                    <b>- {{ order_with_restaurants.order.order_item.quantity }} </b>
              {% endfor %}
          </td>
          <td>
            {{ order_with_restaurants.order.total_price }} руб.
          </td>
          <td>
            <a href="{% url 'admin:foodcartapp_order_change' order_with_restaurants.order.id %}?next={{request.path|urlencode}}">ред.</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
   </table>
  </div>
{% endblock %}
