{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Заказ</th>
    </tr>
    {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.first_name }} {{ order.last_name }}</td>
        <td>{{ order.phone_number }}</td>
        <td>{{ order.address }}</td>
        <td>
          {% for order_item in order.order_list.all %}
            <img src="{{order_item.product.image.url}}" alt="{{order_item.product.name}}" height="20px">
            {{ order_item.product.name }} 
            <b>x {{ order_item.quantity }} </b>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
